html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: -moz-linear-gradient(#4c5265, #323949);
  background-size: stretch;
  background-repeat: no-repeat;

  height: 100vh;
}

#root {
  width: 1440px;
  margin: auto;
  padding: 0;
  margin-top: 0px;

  background-color: #212129;
}
