@font-face {
  font-family: "lifeCraft";
  src: url("../assets/LifeCraft_Font.ttf");
}

.landing-page {
  height: 800px;
  width: 100%;

  font-family: "lifeCraft";
}

.landing-page .content {
  text-align: center;
}

.landing-page .content h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 0.6rem;
}

.landing-page .content .panels {
  display: flex;
}

.landing-page .content .panels .panel-one {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: white;
  width: 660px;
}

.landing-page .content .panels .panel-one .affix-row {
  width: 130px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page .content .panels .panel-one .affix-row img {
  width: 32px;
  height: 32px;
  margin-right: 14px;
}

.landing-page .content .panels .panel-one .affix-row p {
  font-size: 1.4rem;
}

.landing-page .content .panels .panel-one h4 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.landing-page .content .panels .panel-two {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: white;
  width: 660px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
  position: relative;
  left: 305px;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
